@model IList<mvc.ViewModels.Authors.SelectedBook>

@{
    ViewData["Title"]="Books" ;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Books">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].IsSelected)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Decription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Pages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Codes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Book.Published)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => Model[i].Book.Id)
                    @Html.EditorFor(modelItem => Model[i].IsSelected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Book.Decription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Book.Pages)
                </td>
                <td>
                    @Html.Raw(string.Join("<br/>", Model[i].Book.Codes.Select(Html.Encode)))
                </td>
                @*<td>
                    @Html.ListBoxFor(
                        modelItem => modelItem[i].Book.Codes,
                        Model[i].Book.Codes.Select(c => new SelectListItem(c, c))
                    )
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Book.Published)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</form>
